{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <form method="GET" action="">
                <div class="input-group mb-4">
                    <input
                        class="form-control"
                        type="text"
                        name="q"
                        placeholder="Search posts..."
                        value="{{request.GET.q}}"/>
                    <span class="input-group-btn">
                        <input class="btn btn-secondary" type="submit" value="Search"/>
                    </span>
                </div>
            </form>
            {% for obj in object_list %}
                <div class="card">
                    <div class="card-body post-detail-item">
                        <h3 class="card-title">
                            {% if obj.draft %}
                                <small style="color: red;">Draft</small>
                            {% endif %}
                            {% if obj.publish > today %}
                                <small>Future Post</small>
                            {% endif %}
                            <p class="post-title">
                                <a href="{{ obj.get_absolute_url }}">{{obj.title}}</a>
                            </p>
                            <p class="post-details">
                                by
                                <span class="red-color">{{obj.user}}</span>
                                -
                                {{obj.timestamp|date:"D, d M, Y"}}
                                -
                                <span class="red-color">{{obj.comments.count}}</span>
                            </p>
                        </h3>
                        {% if obj.image %}
                            <img src="{{obj.image.url}}" class="img-fluid"/>
                        {% endif %}
                        <p class="post-content">{{obj.get_markdown|truncatewords_html:45}}</p>
                        <hr/>
                        <p class="card-text">
                            <span class="post-category">
                                <i class="far fa-folder-open"></i>
                                Beauty
                            </span>
                            <a
                                href="{{ obj.get_absolute_url }}"
                                class="btn btn-primary float-right read-more-button"
                                role="button">Read more...</a>
                        </p>
                    </div>
                </div>
                <br/>
            {% endfor %}
        </div>
        <div class="col-sm-4">
            dasda
        </div>
    </div>

    <div class="pagination">
        {% if object_list.has_previous %}
            <a
                class="page-button"
                href="?page={{object_list.previous_page_number}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}"><i class="fas fa-chevron-left"></i></a>
        {% endif %}
        {% for i in pages_number%}
            <a
                href="?page={{i}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}"
                class="page-button {% if i == object_list.number %}page-button-active{% endif %}">{{i}}</a>
        {% endfor %}

        {% if object_list.has_next %}
            <a
                class="page-button"
                href="?page={{object_list.next_page_number}}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}"><i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>

</div>

{% endblock content %}