h1{
    color: #777777;
}

.wmd-panel{
    margin: 0 auto !important;
}

body{
    background: #f4f4f7 !important;
}

header{
    background: white;
    text-align: center;
    font-size: 35px;
    padding: 80px 0;
    text-transform: uppercase;
    font-weight: 200;
    border-bottom: 2px solid #e8e8e8;
}

header small {
    display: block;
    font-size: 20px;
    font-weight: 100;
    margin-top: -10px;
}

.breadcrumb{
    background: white !important;
    border: 2px solid #e8e8e8;
    border-top: none;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.breadcrumb a{
    color: black;
}

.no-slash::before{
    content: '' !important;
}

.post-details{
    font-size: 13px !important;
    margin: 0 !important;
    font-style: italic !important;
    color: #a0a0a0 !important;
}

.post-title a{
    color: #1f1f1f;
}

.post-title a:hover{
    color: #f0142a;
    cursor: pointer;
    text-decoration: none;
}

.red-color{
    color: #f0142a;
}

.red-color:hover{
    cursor: pointer;
    text-decoration: underline;
}

.read-more-button{
    background: #f0142a !important;
    border: none !important;
    outline: none !important;
    border-radius: 0 !important;
    font-size: 13px !important;
    padding: 10px 20px !important;
}

.card{
    border-radius: 0 !important;
}

.post-content, .post-category{
    color: #7d7d7d;
    font-size: 12px;
}


.messages-box {
    text-align: center;
}

.messages{
    padding: 0;
    color: white;
    font-weight: 100;
}

.messages li {
    list-style: none;
    padding: 20px 0;
}

.messages .success {
    background: #50C878;
}

.page-button{
    background: white;
    padding: 5px 12px;
    color: black;
    font-weight: 100;
    transition: 0.3s;
    border: 1px solid #e8e8e8;
    margin-right: 5px;
}

.page-button:hover{
    text-decoration: none;
    background: #f0142a;
    color: white;
}

.page-button-active{
    text-decoration: none;
    background: #f0142a;
    color: white;
}

.pagination{
    margin-bottom: 50px;
}

.featured-post-card .card-title{
    font-size: 15px;
}

.red-border-bottom{
    padding-bottom: 16px;
    border-bottom: 1px solid red;
}

.featured-post-head .title{
    margin-bottom: 2px !important;
}

.featured-post-head{
    margin-bottom: 10px;
}

.featured-post-content p{
    font-size: 14px;
    color: #a0a0a0;
    margin-bottom: 5px !important;
}

.post-details-site .post-title{
    font-size: 30px;
    margin-bottom: 0 !important;
}

.post-details-site .post-title:hover{
    color: #1f1f1f !important;
    cursor: default !important;
}

.post-details-site img{
    margin-top: 10px;
}

.post-details-site ul{
    list-style: none;
}

.post-details-site li{
    display: inline-block;
    list-style: none;
}

.post-details-site .page-button{
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 12px;
    color: #7d7d7d;
}
.post-details-site .page-button:hover{
    color: white;
}
